{% extends "base.html" %}

{% block title %}Research | Biomechanics Lab{% endblock %}

{% block content %}
    <header class="text-center mb-12">
        <h1 class="text-5xl font-extrabold text-blue-800 mb-3">Our Research Projects</h1>
        <p class="text-xl text-gray-600 max-w-3xl mx-auto">Cutting-edge studies utilising state-of-the-art facilities and equipment for biomechanical investigation of human movements.</p>
        <hr class="mt-4 w-24 mx-auto border-4 border-emerald-500 rounded-full">
    </header>

    <div class="space-y-12">

        <!-- Research Project 1 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Clinical Pilates and chronic low back pain</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">DMA Clinical Pilates exercises improved clinical and biomechanical outcomes for adults with nonspecific chronic low back pain: a randomized controlled trial</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                        This study examined the effectiveness of DMA Clinical Pilates in improving clinical and biomechanical outcomes against general Pilates and general exercise.
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>Pilates exercises are beneficial for people with nonspecific chronic low back pain.</li>
                        <li>DMA Clinical Pilates exercises, when tailored to an individual's movement preference, are time efficient and easy to learn.</li>
                        <li>This study showed that DMA Clinical Pilates is effective in improving pain, function, disability and movement performance.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/clinical-pilates 2.jpg" 
                         alt="LBP Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 2 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Biomechanical effects of exoskeletons</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Effectiveness of a passive military exoskeleton in off-loading weight during static and dynamic load carriage: A randomised cross-over study</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                     This study assessed the effectiveness of a passive military exoskeleton in off-loading the weight placed on the body during heavy load carriage under static standing and dynamic walking conditions.  
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>This study showed that individuals can reasonably benefit from the UPRISE® Gen 4.0 passive military exoskeleton to lessen the burden of torso-borne load during static quiet standing.</li>
                        <li>The passive military exoskeleton was effective in off-loading some load from the human body during static quiet standing but not dynamic walking on flat and sloped surfaces.</li>
                        <li>The varied response across loads and participants calls for better design and fitting of the military exoskeleton to individual users.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/exoskeletal.jpeg" 
                         alt="Exoskeletons Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 3 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Biomechanics of para-table tennis</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Shoulder biomechanics of para-table tennis: a case study of a standing class para-athlete with severe leg impairment</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                     This case study examined the shoulder joint kinematics of a highly skilled para-table tennis player with severe leg impairment.   
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>This case study showed that the Class 7 para-player displayed different shoulder joint kinematics when performing table tennis forehand and backhand topspin drives than the able-bodied players.</li>
                        <li>These findings suggest that para-players and coaches should not simply replicate the movement patterns of able-bodied table tennis players.</li>
                        <li>Instead, depending on the nature of the physical impairment, para-players should optimise their own movement strategies for successful performance.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/para-table-tennis.jpeg" 
                         alt="para-table tennis Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 4 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Sport coaching for individuals with disabilities</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Measuring upper limb kinematics of forehand and backhand topspin drives with IMU sensors in wheelchair and able-bodied table tennis players</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                     To better understand the biomechanics of para-table tennis players, this study compared the shoulder, elbow, and wrist joint kinematics among able-bodied (AB) and wheelchair players in different classifications.</p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>The study revealed that wheelchair table tennis players exhibited distinctly different upper limb kinematics compared with able-bodied participants while executing the forehand and backhand topspin drives.</li>
                        <li>The marked differences in techniques could be due to functional limitations associated with the wheelchair players' physical impairment.</li>
                        <li>Coaches should be aware that traditional table tennis training programs targeting skills and techniques for able-bodied players are unsuitable for para-players.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/sport-coaching.jpeg" 
                         alt="IMU Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 5 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Treadmill Running Analysis Model (TRAM) for injury management</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Predicting running-related injuries from functional, kinetic and kinematic data</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                     This study aimes to develop and compare prediction models of various levels of complexity to predict running-related injuries over 12 months in recreational runners.</p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>Running biomechanics were evaluated using clinically friendly tools, including wearable in-shoe force sensors to measure vertical ground reaction forces and 2D video-based kinematic analysis of lower extremities.</li> 
                        <li>Prediction models developed using variables obtained from accessible tools are unable to accurately predict future running-related injuries regardless of model complexity.</li>
                        <li>Researchers and practitioners should avoid over-reliance on simple measures for screening injury risks.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/running.jpeg" 
                         alt="TRAM Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 6 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Visual-Motor behaviour in field hockey goalkeepers</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Development of a virtual reality educational game for field hockey.</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                    The study aims to develop an educational virtual reality game for field hockey goalkeepers train both indoors and outdoors, without requiring another player to be available.
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>Virtual reality is a valuable tool for enhancing field hockey training by offering safe, repeatable, and immersive practice scenarios.</li>
                        <li>The immersive virtual reality app aims to bridge the gap between traditional training limitations and real-world performance demands.</li>
                        <li>We will explore the integration of AI for adaptive training difficulty and personalized feedback.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/hockey.jpeg" 
                         alt="hockey Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>
  
        <!-- Research Project 7 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Kinetic strategy in the rear foot elevated split squat</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Effects of external load on joint kinetics in the rear-foot-elevated split squat</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                        This study aims to examine how external load affects kinetics of both the front and the rear legs - the working and the supporting legs, respectively.
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>both the front and rear legs play an important role in performing the .</li>
                        <li>External load likely increases the joint moments of the ankle, knee, and hip for both the front and the rear legs, with the largest effect for the front hip.</li>
                        <li>The large hip and knee joint moments in the rear leg indicates that the rear leg, despite serving as a supporting leg in rear-foot-elevated split squat, may also experience a training stimulus.</li>
                    </ul>
                </div>

                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/squat.jpeg" 
                         alt="squat Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>


        <!-- Research Project 8 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Understanding the break shot of 9-ball in billiards through experimental and theoretical approaches</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Can a good break shot determine the game outcome in 9-ball?</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                     This study aims to quantify the break shot characteristics and identify their significance in predicting the game outcomes in 9-ball tournaments.   
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>In professional 9-ball tournaments, pocketing more balls during the break is associated with more clustered balls remaining on the table.</li>
                        <li>Table clearance and winning of a frame are likely influenced by multiple factors and could not be predicted by the break shot characteristics alone.</li>
                        <li>While Voronoi cell areas could provide an objective measure of the ball distribution on the table, this method did not reveal any association between ball distribution and game outcomes.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-1/3 flex items-start justify-center">
                    <img src="static/images/cue-table.jpg" 
                         alt="cue sports Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>

        <!-- Research Project 9 -->
        <div class="bg-white p-8 rounded-xl shadow-xl border-l-8 border-blue-500">
            <h2 class="text-3xl font-bold text-blue-700 mb-6 text-center border-b-2 border-blue-300">Bilateral asymmetry in drop landings</h2>
     
            <div class="flex flex-col md:flex-row md:items-center gap-8">
                <!-- Text Content -->
                <div class="md:w-2/3">
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Biomechanics of step-off drop landings are affected by limb dominance and lead limb in task initiation</h3>
                    <p class="text-gray-700 mb-4 text-lg">
                    This study examines the effects of limb dominance and lead limb in task initiation on the kinetics and kinematics of step-off drop landings.   
                    </p>
                    <h3 class="font-semibold text-gray-800 mb-2 text-xl">Key findings:</h3>
                    <ul class="list-disc list-inside text-gray-600 ml-4 space-y-2">
                        <li>Ankle joint quasi-stiffness was significantly greater in the dominant limb than the non-nominant limb.</li>
                        <li>High variability within and between participants in the time difference lead and trail limbs at initial landing contact.</li>
                        <li>Step-off drop landing is not an ideal protocol for examining bilateral asymmetry in lower limb biomechanics due to potential biases introduced by limb dominance and the step-off limb.</li>
                    </ul>
                </div>
                
                <!-- Image -->
                <div class="md:w-2/3 flex items-start justify-center">
                    <img src="static/images/drop-landing.jpeg" 
                         alt="drop landings Setup" 
                         class="rounded-lg shadow-md object-cover w-full h-auto transform hover:scale-105 transition duration-300">
                </div>
            </div>
        </div>
 
    </div>
{% endblock %}